<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Fear & Hunger</mat-card-title>
      <mat-card-subtitle>Videojuego</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://m.media-amazon.com/images/M/MV5BZWE4MDEyNzItMzYzOS00YWUwLWI4NjYtOWRjNTk5Nzc4NDhiXkEyXkFqcGdeQXVyMTA0MTM5NjI2._V1_FMjpg_UX1000_.jpg" alt="">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>ng
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  